{% extends 'base.html' %}
{% import "bootstrap/form.html" as form %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="../../static/styles/blogpost.css">
{% endblock styles %}
<style>
    input.form-control,
    input.form-control:focus,
    input.form-control:active,
    textarea {
        color: #fff;
        background: none;
        border-radius: 5px;
        border: 1px solid #5C6470;
        caret-color: white;
    }

    .form-group .CodeMirror {
        background-color: transparent;
        color: #fff;
        background: none;
        border-radius: 5px;
        border: 1px solid #5C6470;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .CodeMirror-cursor {
        border-left: 1px solid white;
    }

    .editor-toolbar a {
        color: white;
    }

    label.form-control-label {
        font-weight: 600;
        font-size: 16px;
        color: #9fa2a8;
    }

    a.fa {
        color: #fff !important;
    }

    a.fa:hover {
        color: #000 !important;
    }
</style>

{% block content %}


<div class="mt-5 d-flex align-items-start justify-content-between">
    <div class="blogpost_profile mr-4">
        <div class="position-fixed">
            <div class="bg-grayscale-2">
                {% if blogpost.user.profile_pic_path %}
                <div class="avatar" style="background-image: url('../{{blogpost.user.profile_pic_path}}');">
                </div>
                {% else %}
                <div class="avatar caption text-center grayscale-5">No profile picture</div>
                {% endif %}



                <div class="p-4">
                    <div class="grayscale-7 header-4">{{ blogpost.user.user_name }}</div>
                    {% if blogpost.user.headline %}

                    <div class="caption grayscale-5">{{ blogpost.user.headline }}</div>
                    {% endif %}
                </div>
            </div>
            <a href="">
                <button
                    class="bg-faded-orange position-relative border-faded-orange mt-3 w-100 text-center">Subscribe</button>
            </a>

        </div>
    </div>

    <div class="flex-fill">
        <div class="blogpost_header bg-grayscale-2">
            <div class="blogpost-image"
                style="background-image: url(../../static/images/post_images/pexels-karol-d-409701\ 1.png);"></div>
            <div class="p-4 pl-5 pr-5">
                <div class="header-1">{{blogpost.title}}</div>
                <div class="callout mt-3 mb-1 d-flex align-items-center">
                    <div class="callout grayscale-7 mr-4">By {{blogpost.author}}</div>
                    <!-- <div class="callout-small grayscale-5">1 hour ago</div> -->
                </div>
            </div>
        </div>
        <div class="blogpost-content body-text grayscale-5 pl-3 pr-3">{{ body_format | safe}}</div>

        <div class="header-4 mt-5 mb-3">Post a comment</div>
        <div class="comments-field mb-5 ">
            {{form.render_form(comment_form)}}
        </div>

        <div class="headline grayscale-5 mb-4">Comments</div>

        {% for comment in comments %}
        <div class="comments">
            <span class="callout grayscale-5 mr-3 mb-3">{{comment.full_name}}</span>
            <span class="callout grayscale-7">{{comment.comment}}</span>
        </div>
        {% endfor  %}
    </div>
</div>


{% endblock content %}