<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {% block head %} -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/images/logo/png/Logo_Small Light.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% block styles %}

    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/styles/index.css">

    {% endblock %}
    <!-- {% endblock %} -->
</head>

<body>
    <!-- Banner for site notifications -->
    {% block banner %}

    {% endblock %}
    <!-- Navbar -->
    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}
    <div style="width: 100%; min-width: 900px; max-width: 1200px; margin: auto; padding-left: 16px; padding-right: 16px;">
        <!-- Page content -->
        {% block content %}

        {% endblock %}
    </div>

    <!-- JavaScipt -->
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>