<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% block styles %}
    
    {% endblock %}
    {% endblock %}
</head>

<body>
    <!-- Banner for site notifications -->
    {% block banner %}
        
    {% endblock %}

    <!-- Navbar -->
    {% block navbar %}
        
    {% endblock %}

    <!-- Page content -->
    {% block content %}
        
    {% endblock %}

    <!-- JavaScipt -->
    {% block scripts %}

    {% endblock %}
</body>
</html>