{% extends 'base.html' %}
{% import "macros/macro_blogposts.html" as blogpost %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8">
            <div class="d-flex align-items-center mb-4">
                <div class="headline pr-5">Posts</div>
                <div class="callout-small">Most Recent</div>
            </div>
            <!-- Blogposts Feed -->
            {{ blogpost.feedBlogposts(blogposts) }}
        </div>

        <div class="col-4">
            <div class="headline mb-4">Inspirational Quote</div>
            
            <div id="quote">
                <p class="body-text-2">{{ quote.quote }}</p>
                <p class="text-right header-4 m-0">- {{ quote.author }}</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
{% endblock scripts %}